*.acn
*.acr
*.alg
*.aux
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.glo
*.gls
*.idx
*.idx
*.ilg
*.ind
*.ist
*.ist
*.lof
*.log
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.synctex.gz
*.toc
*.toc
